native/zig*
native/ELFkickers*
native/**/target/
native/djobs
native/djobs_cli
native/djobsd
native/djobsd_arm
native/djobsd_arm64
native/wakeup_inspector*
native/djobs/Cargo.lock
native/djobsd/Cargo.lock
zig-x86_64-linux-0.14.1/
ELFkickers-3.2/
*.zip
node_modules/
webui/dist/
module/djobsd
module/djobsd_arm
module/djobsd_arm64
module/webroot/
